@font-face {
font-family: Roboto;
src: url(Roboto-Light.woff2);
}
html{
    padding: 10px;
}
div#jeden{
    float: left;
    font-family: Roboto;
    letter-spacing: 0.5px;
    border: 2px solid #e46b6b;
}
div#jeden > img{
    border: 10px double red;
    float: right;
}
div#drugie {
    text-align: center;
    border: 2px solid #e46b6b;
}
div#drugie > img:hover{
    border-radius: 30px 30px 30px 30px;
}
a > img {
    border: 5px dotted orangered;
}
a:visited img {
    border: 5px dotted green;
}
div#stopka {
    background-color: grey;
    color: white;
    height: 100px;
}
div#stopka > p {
    text-align: center;
}